SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U0", ATTRS{bInterfaceNumber}=="00", SYMLINK+="ttysNMEA1"
SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U0", ATTRS{bInterfaceNumber}=="01", SYMLINK+="ttysNMEA2"
SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U0", ATTRS{bInterfaceNumber}=="02", SYMLINK+="ttysCOM1"
SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U0", ATTRS{bInterfaceNumber}=="03", SYMLINK+="ttysCOM2"
SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U1", ATTRS{bInterfaceNumber}=="00", SYMLINK+="ttysCAN"
SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U1", ATTRS{bInterfaceNumber}=="01", SYMLINK+="ttysIMU"
SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U1", ATTRS{bInterfaceNumber}=="02", SYMLINK+="ttysGPS"
SUBSYSTEM=="tty", ATTRS{interface}=="CysBOX-U1", ATTRS{bInterfaceNumber}=="03", SYMLINK+="ttysPC"
SUBSYSTEM=="tty", ATTRS{product}=="u-blox GNSS receiver", SYMLINK+="ttyuGPS"
SUBSYSTEM=="tty", KERNEL=="ttyAMA0", SYMLINK+="ttypPC", SYMLINK+="ttypCAN"
